/* Modal container */
.image-modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
}

/* Modal content (the image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    transition: all 0.3s;
}


.close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: rgba(255, 166, 0, 0.69);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Animation for the modal image */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
